@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Start header  */
header
{
    background: rgb(215,215,215);
    background: linear-gradient(108deg, rgba(215,215,215,1) 50%, rgba(0,0,0,1) 50%); 
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

header .continer
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-top: 2%;
}
header .continer .logo
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    background-image: url(../img/logo.png);    
}
/* Start nav  */
.nav-desktop
{
    grid-column: 4/auto;
}
.ul-desktop
{
    display: grid;
    grid-template-columns: repeat(4,auto);

}
header nav ul 
{
    list-style: none;

}
header nav li a
{
        text-decoration: none;
        font-size: 1.4em;
        color: white;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
        letter-spacing: 1px;
        text-shadow: 2px 2px #000000;
}
header nav li button
{
    font-size: 1.4em;
    background: none;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 4px 18px;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s all;
    border: solid white 1px;
}

header nav li button:hover{
    background-color:#d7d7d7;
    color: #000000;

}
.hvr-underline-from-center::before
{
    background: white;
}
/* boy img  */

#imgboy
{
    max-width: 100%;
    position: absolute;
    bottom: 10px;
}
        /* media hamburger and nav  */
@media (min-width:300px)  and (max-width:768px){

    header
    {
        /* background: #000000; */
    }
    header .continer
    {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(3,auto);
        position: relative;
    }
    .hamburger
    {
        width: 50px;
        height: 50px;
        z-index: 20;
        position: absolute;
        right: 0;
        display: grid;
        grid-template-columns: repeat(1,auto);
        place-items: center;
        cursor: pointer;
    }
    .hamburger span 
    {
        width: 100%;
        height: 7px;
        background-color: rgb(250, 237, 237);
    }
    header .nav-mobile
    {
        display: block;
        position: absolute;
        background-image: url(../img/Background.png);
        grid-row: 0/3;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        height: 100vh;
        transition: 0.5s all;
        z-index: 10;
    }
    header .nav-mobile ul 
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 100px;
      /* margin-top: 5%; */
      height: 100%;
     }
    header .nav-mobile ul li 
    {
        width: 100%;
        display: grid;
        place-content: center;
    }
    .hvr-underline-from-center::before 
    {
        background-color: white;
    }
    /* img boy  */
    .contact-img-text
    {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .contact-img-text #imgboy
    {
        position: absolute;
       top: 400px;
        width: 100%;
        z-index: 0;
    }
    .contact-text
    {
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #727070;
        opacity: 0.9;
        height: 199px;
        z-index: ;
    }
    .contact-text .text
    {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 10px;
    }
    .contact-text .text h3 
    {
        font-size: 2em;
    }
    .contact-text .text h2
    {
        font-size: 3em;
    }
    .contact-text .text .continer-links
    {
        margin-top: 1%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 25px;
    }
    .contact-text .text .continer-links a
    {
        text-decoration: none;
        color: #000000;

    }
   
}
    /* media just show navbar in the big screen  */
@media (min-width:768px){
    .nav-desktop
    {
        display: block;
    }
    .contact-img-text #imgboy
    {
        /* top: 22; */
        right: 0;

    }
    .contact-text
    {
        display: flex;
        place-items: center;
        justify-content: start;
        align-items: center;
        height: 100%;
        margin-left: 10%;
    }
    .contact-text .text 
    {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 10px;
    
    }
    .contact-text .text h3 
    {
        font-size: 35px;
    }
    .contact-text .text h2
    {
        font-size: 45px;
    }
    .contact-text .text p
    {
        font-size: 22px;
    }
    .contact-text .text .continer-links
    {
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 25px;
    }
    .contact-text .text .continer-links a
    {
        text-decoration: none;
        color: #000000;

    }
   


}

.contact-text
{
    font-family: 'Nanum Gothic', sans-serif;

}
